.campos
{
	color: blue;
	font-size:16pt;
}

.cityName{
	color: black;
    font-size:100pt;
    text-align: center;
}
.image{

}

.temperature{
	color: black;
    font-size:60pt;
    text-align: center;
}